@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 100%;
  background: rgba(44, 62, 80, 0.5);
  color: #eee;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: 1rem 1rem 2rem #000;
}

.bmi-calculator {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
}

form {
  display: block;
  width: 100%;
  background-color: #2980b9;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem;
  box-shadow: 1rem 1rem 2rem #000;
}

form label {
  font-size: 1rem;
}

form input {
  display: block;
  width: 30%;
}

form select {
  font-size: 1rem;
}

.result {
  display: block;
  width: 100%;
  box-shadow: 1rem 1rem 2rem #000;
}

.result p {
  padding: 3rem 1rem;
}

#button {
  background-color: blue;
  color: #eee;
  padding: 5px;
  font-size: 10px;
  border-radius: 50px;
  cursor: pointer;
}

#button:hover {
  background-color: darkred;
}

@media (min-width: 768px) {
  .container {
    padding: 3rem;
  }

  img {
    margin-bottom: 2rem;
  }

  .bmi-calculator {
    grid-gap: 2rem;
  }

  #button {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }
  img {
    display: block;
    width: 50%;
    height: auto;
    margin: 2rem auto;
  }

  form {
    padding: 2rem;
  }

  form label {
    font-size: 1.5rem;
  }

  form input {
    width: 20%;
    font-size: 2rem;
  }

  form select {
    font-size: 2rem;
  }

  .result {
    padding: 15px;
  }

  .result p {
    font-size: 3rem;
  }

  #button {
    font-size: 24px;
  }
}
